.home-intro
  .container
    .row
      .col-md-8
        %h1
          Let's make biking safer
        %p
          Bikewise is a place to learn about and report bike crashes, hazards, and thefts.
        %p
          By sharing our experiences with each other, with researchers, and with relevant agencies, we help make biking safer and more fun. You can help us by adding your reports.
.map-container
  .container
    .map
      <script src="https://embed.github.com/view/geojson/bikeindex/bikewise/master/geojson/recent%20incidents.geojson"></script>

.developer-info
  .container
    %h2
      Developer information
    %h3
      View the #{link_to "documentation page", developer_url}.
    %p
      Bikewise is open source and it provides an open API.
    %p
      Current GeoJSON data is pushed to the #{link_to "geojson_data", "https://github.com/bikeindex/bikewise/tree/master/geojson_data"} folder in the github repository every day. The data is curled from the #{link_to "locations", api_v1_locations_url} endpoint, GitHub generates maps from it.      
    %p
      You can also check out the code on
      #{link_to "GitHub", "https://github.com/bikeindex/bikewise"}.