.swagger-root-block
  = render 'swagger_ui/swagger_ui', discovery_url: '/api/swagger_doc.json'
/   #swagger-ui-container
/ :coffee
/   window.swaggerUi = new SwaggerUi(
/     url: "/api/swagger_doc.json"
/     dom_id: "swagger-ui-container"
/   )
/   window.swaggerUi.load()