/*= require swagger-ui */
$gray-lightest: #F4F6F7;
$gray-lighterer: #EEF2F3;
$gray-lighter: #ECF0F1;
$gray-light: #a7a7a7;
$gray: #bebebe;

$form-font-weight: 400;
$s-breakpoint: 599px;

$grid-columns:             12 !default;
$column:                  6.5%;
$gutter:                  2%;


$one-column:                     (1 * $column) + (0 * $gutter);
$two-column:                     (2 * $column) + (1 * $gutter);
$three-column:                   (3 * $column) + (2 * $gutter);
$four-column:                    (4 * $column) + (3 * $gutter);
$five-column:                    (5 * $column) + (4 * $gutter);
$six-column:                     (6 * $column) + (5 * $gutter);
$seven-column:                   (7 * $column) + (6 * $gutter);
$eight-column:                   (8 * $column) + (7 * $gutter);
$nine-column:                    (9 * $column) + (8 * $gutter);
$ten-column:                     (10 * $column) + (9 * $gutter);
$eleven-column:                  (11 * $column) + (10 * $gutter);
$twelve-column:                  100%;

.swagger-ui-wrap {
  ul { margin: 0; }
  select.parameter { width: 100%;}
}

.swagger-section {
  #header {
    background-color: $gray-lightest;
    padding: 0 0 20px;
    border-bottom: 1px solid darken($gray-lightest, 5%);
    
    a#logo {
      font-size: 1.5em;
      font-weight: bold;
      text-decoration: none;
      padding: 20px 0 20px 40px;
      color: black;
    }
    form#api_selector {
      clear: both;
      margin-top: 20px;
      // @include clearfix;
      display: block;
      width: 100%;
      position: relative;
      padding-top: 1em;
    }
    .api-header-group {
      padding: 0 10px .25em;
      label {
        margin-bottom: .3em;
      }
      input { box-shadow: none; }
    }
    .api-header-url {
      input {
        background: none;
        border: none;
      }
    }

    a#explore {
      color: white;
      float: right;
      margin: .25em 10px 10px 0;
    }
  }

  .outside-info { 
    padding: 60px 0 40px; 
    h2 {
      margin: .5em 0; 
    }
  }

  .content { min-height: 10px; }
  .sandbox_header { padding: 5px 2px; }
  // input.submit { @extend .btn; @extend .btn-primary; }
  
  .swagger-ui-wrap { max-width: 100%; }
}

@media (min-width: $s-breakpoint) {
  .swagger-section #header form#api_selector {
    width: $eleven-column;
    float: left;
    padding-top: .3em;
    .api-header-group {
      float: left;
      margin-right: 2%;
      position: relative;
      padding: 0;
    }
    .api-header-url { 
      width: 33%;
      label { padding-left: .5em; }
    }
    .api-header-key { width: 53%; }
    a#explore {
      float: left;
      width: 10%;
      margin: 1.2em 0 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.swagger-section .container {
  h2 { font-size: 24px; }
  strong { font-weight: bold; }
  .alert { line-height: 1.2em; }
  p { padding-bottom: .5em; }
  pre { 
    margin: .5em 0 2em;
    code { background: none; }
  }
  .access-tokens {
    margin-left: .25em;
    li {
      background: white;
      border-radius: 4px;
      padding: .25em .5em;
      margin: 0 0 .25em;
    }
    p { margin: 0; padding: .1em 0; }
  }
  ol { list-style-type: decimal; padding-left: 2em; }
  .less-strong { color: $gray; font-size: .8em; }

  .authentication-notes {
    margin-top: 40px;
    h3 { margin-top: 1.5em; }
  }
}


.swagger-section #api_info {
  // We're going to do a better job introducing this ourselves
  display: none; 
}

.api-info-header {
  padding: 0 0 40px;
}
.api-info-footer {
  padding: 40px 0;
}

footer#footer {
  clear: both;
  width: 100%;
  height: 80px;
}

@media (min-width: $s-breakpoint) {
  .api-info-footer {
    padding: 60px 0 40px;
  }
}

#resources_container {
  .toggleEndpointList { font-weight: 600; }
//   input { @extend .form-control; }
}

.add-token-form {
  label { 
    font-weight: $form-font-weight;
    margin-right: .5em;
  }
}