body.home {
  // background: rgb(198,222,246);
}

.navbar {
  .logo img { height: 50px; }
  margin-bottom: 0;
}

.home-intro {
  padding: 40px 0 80px;
  background: #5499C7;
  color: white;
  h1 { margin-bottom: 1em; }
  p { font-size: 20px; }
}

@media (min-width: 900px) {
  .home-intro { padding: 150px 0 100px; }
}

.map-container { padding-bottom: 40px; }

.map {
  margin-top: -40px;
  padding-bottom: 40px;
}

.incidents-text {
  padding-top: 40px;
  h2 { margin-bottom: 1em; }
}

@media(min-width: 900px) {
  .map-container { padding-bottom: 80px; }
  .map {
    float: right;
    margin-top: -80px;
  }
  .incidents-text { padding-top: 100px; }
}

body.home .home-incident-search {
  padding-top: 30px;
}


.developer-info {
  margin-top: -10px;
  
  h3 {
    font-weight: 200;
    margin-top: 30px;
  }
  p { margin-top: 40px; }
  // background: rgb(198,222,246);
  border-top: 1px solid $dev-blue-dark;
  background: $dev-blue;
  padding: 40px 0 80px;
}

.form-group label { font-weight: 200; font-size: 16px; }