body.home {
  // background: rgb(198,222,246);
  .navbar {
    background: $home-bg;
    a {
      color: rgba(white, .8);
      &:hover { color: rgba(white, .9); }
    }
  }
}

.navbar {
  border-radius: 0;
  padding-top: 5px;
  .logo img { height: 50px; }
  margin-bottom: 0;
  .navbar-text a {
    &:hover { text-decoration: none; }
    &.signout-link {
      color: rgba(black, .2);
      margin-left: .5em;
      display: inline-block;
      &:hover { color: rgba(black, .4); }
    }
  }
}

.home-intro {
  padding: 40px 0 80px;
  background: $home-bg;
  color: white;
  h1 { margin-bottom: 1em; }
  p { font-size: 20px; }
  a {
    color: white;
    text-decoration: underline;
  }
}

@media (min-width: 900px) {
  .home-intro { padding: 150px 0 100px; }
}

.map-container {
  padding-bottom: 40px;
}

.map {
  margin-top: -40px;
  padding-bottom: 40px;
  .more-maps {
    position: absolute;
    width: 620px;
    text-align: center;
    font-size: .9em;
    color: $gray-light;
  }
}

.maps-text {
  padding-top: 40px;
  h2 { margin-bottom: 1em; }
}

@media(min-width: 900px) {
  .map-container { padding-bottom: 80px; }
  .map {
    float: right;
    margin-top: -80px;
  }
  .maps-text { padding-top: 100px; }
}


// 
// 
// 
// 


.submit-incident {
  padding: 40px 0 60px;
}

// 
// 
// 
// 

body.home .incident-search {
  margin-bottom: 0;
  border-radius: 4px 4px 0 0;
  .incident-list li:last-of-type { padding-bottom: 5px; }
}

.search-container {
  background: #16A085;
  padding-top: 60px;
  .not-in-search-container { color: white; }
}


.developer-info {
  padding: 40px 0;
  .dev-icon {
    position: relative;
    width: 25%;
    float: left;
    padding: 0 15px;
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
  .dev-text {
    float: right;
    width: 75%;
    padding: 0 15px;
  }
  h3 {
    font-weight: 200;
    margin-top: 30px;
  }
  p { margin-top: 40px; }
}

@media (min-width: 900px) {
  .developer-info { padding: 80px 0; }
}

