@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

$link-color: #3498db;
$stolen-color: #DC7D59;
$lightened-text: rgba(white, .7);

$dev-blue: #E5F2FA;
$dev-blue-light: #F7FBFE;
$dev-blue-lighter: #FBFDFE;

$bw-panel-bg: #E5E8E8;
$asbestos: #7F8C8D;
$gray-lighter: #eeeeee;

#bw-int-wrap * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

#bw-int-wrap {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 200;
  position: relative;
  width: 100%;
  min-height: 100px;
  border-radius: 4px;
  background: $bw-panel-bg;
  padding: 20px 20px 30px;

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    border-radius: 4px;
    background: white;
    color: #555555;
    display: inline-block;
    min-width: 200px;
    // width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-image: none;
    border: none;
    box-shadow: none;
    // font-size: 1em;
    margin-top: -.25em;
    line-height: 1.3em;
    font-family: 'Open Sans', Helvetica, sans-serif;

  }

  label {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 200;
    margin-right: .5em;
    display: inline-block;
    color: $asbestos;
  }

  .input-row {
    @include clearfix;
    padding-bottom: 16px;
  }

  .incident-type {
    padding-bottom: 1em;
    label {
      font-size: 20px;
      color: #333;
    }
  }

  #int_fields, #binx_embed, #int-occur { display: none; }

  #int-occur input { min-width: 150px; width: 150px; }

  .scndary-group {
    display: none;
    p { color: $asbestos; }
    label, p { margin-top: 5px; }
  }

  #binx_embed {
    max-width: 820px;
    margin: 0 auto;
    border-top: 1px solid rgba($asbestos, .4);
    border-bottom: 1px solid rgba($asbestos, .4);
  }
  
  iframe {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: none;
    display: block;
    height: 100%;
    min-height: 800px;
  }

  .i-description {
    textarea {
      margin-top: 0;
      width: 100%;
      height: 4em;
    }
  }
  .submit { float: right; }

}

@media (min-width: 700px) {
  #bw-int-wrap {
    .input-row {.input-group:nth-of-type(2n) { margin-left: 2%; } }
    .i-group {
      width: 49%;
      float: left;
    }
    .i-description {
      width: 78%;
      float: left;
    }
    .submit { 
      width: 20%;
      margin-left: 2%;
      
      .btn {
        width: 100%;
        font-size: 16px;
        height: 3em;
        margin-top: 1em;
      }
    }
  }
}
