.incident-search {
  border: none;
  box-shadow: none;

  .btn {
    font-size: $body-font-size;
    width: 100%;
  }
  .panel-body {
    background: $bw-panel-bg;
    border-radius: 4px 4px 0 0;
  }
  form { padding-top: 10px; }
  .checkbox-inline {
    font-size: 16px;
    font-weight: 200;
    margin-left: 0;
    margin-right: 10px;
    color: $asbestos;
  }

  .incident-list {
    position: relative;
    border-top: none;
    .total-count {
      z-index: 10;
      background: rgba($dev-blue, .8);
      color: $gray-light;
      font-size: .8em;
      position: absolute;
      top: 0; right: 0;
      padding: .25em 1em;
      border-radius: 0 0 0 10px;
    }
    background: #fff;
    padding: 0;
    min-height: 400px;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    li {
      position: relative;
      padding: 10px 120px 10px 20px;
      margin-top: .5em;
      min-height: 100px;
      h4 {
        margin: 0 0 5px;
        font-weight: 400;
        span { font-weight: 200; }
      }
      &:first-of-type { padding-top: 25px; margin-top: 0; }
      &:nth-of-type(2n) { background: $dev-blue-lighter; }
      p { margin-bottom: 5px; }
      img {
        display: block;
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: -50px;
        width: 100px;
        height: auto;
      }
    }
    .less-strong {
      font-size: .9em;
      color: $gray-light;
    }
  }
  .no-incidents { padding: 20px 10px; }
}

.dev-fields-search {
  &.form-inline {
    padding-left: 15px;
    padding-right: 15px;
    .form-group { padding-left: .5em; }
    .form-control { width: 180px; }
    .narrow-field .form-control { width: 60px; }
  }
  &#page_data .form-group { float:right; }
}

@media (min-width: 1000px) {
  body.home .incident-search { margin-top: 60px; }
  .dev-fields-search.bottomed { padding-bottom: 10px; float: right; }
  .incident-type-checks {
    padding-top: 15px;
    margin-bottom-bottom: 0;
  }
}