!!!
%html
  %head
    %title Bikewise
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "application"
    = csrf_meta_tags
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/fav.ico" />

  %body{class: @bodyclass}
    / %header
    /   .navbar.navbar-default
    /     .container
    /       .navbar-header
    /         %a.logo{ href: root_url }
    /           %img{ src: '/assets/logo.png' }
    /       .navbar-text.navbar-left
    /         Bicycle incident reporting


    = yield
